.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
img.image {
  max-width: 100px;
  height: auto;
  position: relative;
  left: 45%;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

th, td {
  border: 1px solid #ddd; /* Bordures */
  padding: 8px; /* Espacement */
  text-align: left;
}

th {
  background-color: #f4f4f4; /* Fond des en-têtes */
}


textarea.translation-textarea {
  width: 100%; /* La zone de texte prend toute la largeur */
  min-width: 300px; /* Largeur minimale */
  box-sizing: border-box; /* Inclure le padding dans la largeur */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permet de redimensionner verticalement seulement */
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.send-btn{
  position: relative;
  left: 40%;
  margin-top: 15px;
}
